@media all and (max-width: 1000px) {
    .wrapper {
        grid-template-rows: 50px 50px 50px 1fr 50px;
    }

    main {
        grid-column: span 12;
    }

    aside {
        grid-column: span 12;
        margin: 0;
        padding: 0;
    }

    aside h2 {
        cursor: pointer;
        line-height: 50px;
        padding: 0 15px;
    }

    aside a {
        display: none;
    }

    aside.open a {
        display: block;
    }
}