main {
    display: grid;
    grid-column: span 10;
    grid-gap: 1vw;
    padding: 10px;
}

section {
    background: #AFBAC4;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

figure {
    flex: 3;
}

article {
    color: #3c3f41;
    flex: 11;
    padding: 10px;
}

section img {
    border-radius: 3px;
    width: 100%;
}

h1 {
    color: #3c3f41;
}

@media all and (max-width: 800px) {
    section {
        flex-direction: column;
    }
}