@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf") format("ttf");
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 5px;
}

h1, h2, h3 {
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;
}

p, span, a {
    font-family: "OpenSans", sans-serif;
    line-height: 1.5;
}

.logo {
    height: 100%;
}

.button {
    background: #475E78;
    border-radius: 3px;
    cursor: pointer;
    color: #f2f2f2;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.button:hover {
    background: #96C7FF;
    color: #3c3f41;
}

/* GRID */

html, body {
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 50px 1fr 50px;
    height: 100vh;
    margin: auto;
}

header {
    grid-column: span 12;
}

nav {
    background-color: #AFBAC4;
    display: flex; /* flex menu 5 items */
    grid-column: span 12;
    flex-direction: row;
}

footer {
    background: #6B7178;
    color: #f2f2f2;
    grid-column: span 12;
    text-align: center;
}

footer p {
    line-height: 50px;
}

/* NAV */

nav a {
    background: #AFBAC4;
    color: #3c3f41;
    display: block;
    font-size: 17px;
    line-height: 50px;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
}

nav a:hover {
    background-color: #DCEAF7;
    color: #3c3f41;
}

#nav-button {
    display: none;
}

@media all and (max-width: 800px) {
    nav.column {
        flex-wrap: wrap;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
    }

    nav a:first-child {
        order: 0;
        flex: 11;
    }

    nav a:not(:first-child) {
        order: 3;
        display: none;
    }

    nav.column a {
        display: block;
    }

    #nav-button {
        display: block;
        flex: 1;
        order: 1;
        text-align: right;
    }
}

@media all and (min-width: 1920px) {
    .wrapper {
        width: 1920px;
    }
}

/* ASIDE */

aside {
    background: #AFBAC4;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    margin: 10px;
    padding: 10px;
}

aside h2 {
    background: #AFBAC4;
    color: #3c3f41;
    padding: 10px;
}

aside a {
    background: #AFBAC4;
    color: #3c3f41;
    display: block;
    padding: 10px;
    z-index: 500;
}

aside a:hover {
    color: #6B7178;
}

@media all and (min-width: 1920px) {
    aside {
        margin-left: 0;
    }
}