main {
    background-image: url("../pics/contacts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: span 12;
}

section {
    background: #475E78;
    border-radius: 3px;
    color: #f2f2f2;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    padding: 20px;
    width: 30%;
}

@media all and (max-width: 800px) {
    section {
        float: none;
        margin: 50px;
        width: auto;
    }
}