main {
    background-image: url("../pics/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: span 12;
}

section {
    background: #DCEAF7;
    border-radius: 3px;
    margin: 50px;
    padding: 20px;
    width: 35%;
}

.warning {
    background: #9c4343;
    border-radius: 5px;
    color: #f2f2f2;
    float: right;
    font-weight: bold;
    margin: 2px;
    padding: 10px;
}

@media all and (max-width: 800px) {
    section {
        width: auto;
    }

    .warning span{
        font-size: xx-small;
    }
}