main {
    grid-column: span 12;
    color: #3c3f41;
    padding: 10px 50px;
}

.features-heading {
    margin-top: 20px;
}

.features {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(6, 1fr);
}

section {
    background: #93C6F9;
    border-radius: 3px;
    padding: 20px;
}

figure {
    text-align: center;
}

img {
    height: 100px;
}

h1, h2, h3 {
    text-align: center;
}

.button {
    font-weight: bold;
    grid-column: 3 / span 2;
    line-height: 50px;
    height: 50px;
}

@media all and (max-width: 1920px) {
    .features {
        grid-template-columns: repeat(3, 1fr);
    }

    .button {
        grid-column: 2;
    }
}

@media all and (max-width: 1200px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .button {
        grid-column: 1 / span 2;
    }
}

@media all and (max-width: 800px) {
    main {
        padding: 10px 10px;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .button {
        grid-column: 1;
    }
}