main {
    grid-column: span 10;
    padding: 10px;
}

.shopitems {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section {
    background: #AFBAC4;
    border-radius: 3px;
    color: #3c3f41;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

section img {
    border-radius: 3px;
    width: 100%;
}

.button {
    align-self: flex-end;
    margin-top: auto;
    width: 50%;
}

h1 {
    color: #3c3f41;
}

@media all and (max-width: 800px) {
    main {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}