section {
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 50%
}

#title {
    background-color: #9264F5;
    margin-top: 50px;
}

@media all and (max-width: 800px) {
    section {
        width: 98%;
    }
}