.main-grid {
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    grid-template-columns: 1fr 300px;
    grid-template-rows: 100px 1fr 50px;
    height: 100%;
    margin: auto;
}

main {
    margin: 0 0 10px 50px;
}

aside {
    background-color: #7DD7F5;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    grid-area: aside;
    margin: 50px 50px 10px 50px;
    padding: 20px;
}

#cities, #years {
    background-color: #7DD7F5;
    padding: 10px;
    z-index: 50;
}

aside a {
    display: block;
    padding: 0 5px;
}

#filters {
    line-height: 50px;
    padding: 0 20px;
    z-index: 50;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

#events {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr;
}

main section {
    background-color: #7DD7F5;
    border-radius: 5px;
    padding: 20px;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

figure {
    flex: 5;
}

figure img {
    width: 100%;
}

article {
    flex: 10;
    padding: 10px;
}

@media all and (max-width: 1000px) {
    .main-grid {
        grid-template-areas:
            "header"
            "aside"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px 1fr 50px;
        height: 100%;
        margin: auto;
    }

    main {
        margin: 10px;
    }

    aside {
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    #cities, #years {
        display: none;
    }

    aside.responsive #cities, aside.responsive #years {
        display: block;
    }

    #filters {
        cursor: pointer;
    }

    aside a {
        display: inline;
        padding: 0;
    }

    .flexbox {
        flex-direction: column;
        align-items: center;
    }
}