section {
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 50%
}

#title {
    background-color: #9264F5;
    margin-top: 50px;
    text-transform: uppercase;
}

#warning {
    background-color: red;
    margin-top: 10px;
}

@media all and (max-width: 800px) {
    section {
        width: 98%;
    }
}

@media all and (max-width: 600px) {
    #title {
        margin-top: 10px;
    }
}