@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    height: 100%;
}

body {
    background-color: black;
    background-image: url("../images/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1, h2, h3 {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

p, span, a {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

.main-grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
    height: 100%;
    margin: auto;
}

header {
    grid-area: header;
}

#logo {
    display: block;
    height: 50px;
    margin: auto;
}

nav {
    background-color: #5F3DA8;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    margin: 0 50px;
    text-align: center;
}

nav img{
    height: 30px;
}

nav a.icon {
    padding-top: 8px;
}

nav a {
    background-color: #5F3DA8;
    color: white;
    display: block;
    line-height: 50px;
    padding: 0 25px;
    text-decoration: none;
    z-index: 100;
}

nav a:hover, nav a.active {
    background-color: #9264F5;
}

#more {
    display: none;
}

main {
    grid-area: main;
    margin: 10px 50px;
}

.main-paragraph {
    background-color: black;
    color: white;
    padding: 20px;
}

footer {
    background-color: #5E96A8;
    grid-area: footer;
    text-align: center;
}

footer a {
    color: white;
    display: block;
    line-height: 50px;
}

@media all and (min-width: 1960px) {
    .main-grid {
        width: 1960px;
    }
}

@media all and (max-width: 1000px) {
    nav {
        margin: 0;
    }

    main {
        margin: 10px;
    }
}


@media all and (max-width: 800px) {
    nav.responsive {
        flex-wrap: wrap;
        position: relative;
    }

    nav a {
        width: 100%;
    }

    nav a:first-child {
        order: 0;
        flex: 11;
        text-align: left;
    }

    nav a:not(:first-child) {
        order: 3;
        display: none;
    }

    nav.responsive a {
        display: block;
    }

    #more {
        display: block;
        flex: 1;
        order: 1;
        text-align: right;
    }
}

