h1 {
    background-color: black;
    color: white;
    text-align: center;
}

#reviews {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr;
}

section {
    background-color: #7DD7F5;
    border-radius: 5px;
    padding: 20px;
}

.flexbox {
    align-items: center;
    display: flex;
    flex-direction: row;
}

section:nth-child(even) {
    text-align: right;
}

section:nth-child(even) .flexbox {
    flex-direction: row-reverse;
}

figure img {
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

article {
    padding: 10px;
}

@media all and (max-width: 800px) {
    section {
        text-align: left !important;
    }

    .flexbox {
        align-items: center;
        flex-direction: column !important;
        text-align: left !important;
    }
}