#tickets {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

section {
    background-color: #7DD7F5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h2 {
    align-self: center;
}

figure img {
    border-radius: 5px;
    width: 100%;
}

.button {
    align-self: center;
    background-color: #F5D170;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    height: 30px;
    line-height: 30px;
    margin-top: auto;
    text-align: center;
    width: 50%
}